body{touch-action: manipulation;}
.block{
    width:45px;
    height:45px;
    border:solid black 1px;
    position:absolute;
}
.refblock{
    width:40px;
    height:40px;
    border:solid black 1px;
}
#hide{
    cursor:pointer;
    padding:5px;
    background-color:rgb(198, 198, 198);
    border-radius:5px;
    font-size:large;
    display:inline-block;
    margin-right:5px;
}
button{
    width:40px;
    height:40px;
    padding:3px;
    background-color:rgb(183, 183, 183);
    color:white;
    font-size:large;
    border-radius:10px;
    position:absolute;
    cursor:pointer;
}
#submit1{
    width:80px;
    top:95px;
    left:25px;
}
#submit2{
    width:80px;
    top:95px;
    left:25px;
}
#arrows1{
    position:absolute;
    top:200px;
    left:36%;
    transform:rotate(180deg);
}
#arrows2{
    position:absolute;
    top:520px;
    right:36%;
}
#up1{
    left:45px;
}
#down1{
    left:45px;
    top:45px
}
#left1{
    top:45px;
}
#right1{
    top:45px;
    left:90px
}
#up2{
    left:45px;
}
#down2{
    left:45px;
    top:45px
}
#left2{
    top:45px;
}
#right2{
    top:45px;
    left:90px
}
#leftright{
    width:210px;
    padding-left:120px;
    transform:rotate(90deg);
    position:absolute;
    right:-95px;
    top:44%
}
#pause{
    padding:5px;
    width:20px;
    font-size:large;
    font-weight:bold;
    background-color:rgb(198, 198, 198);
    text-align:center;
    border-radius:5px;
    cursor:pointer;
    display:inline-block;
}
#count{
    width:fit-content;
    font-size:20px;
    transform:rotate(90deg);
    position:absolute;
    right:-105px;
    top:47%;
    display:inline-block;
}
#time{
    margin-left:30px;
}
#rep{
    padding:5px;
    font-size:large;
    background-color:rgb(198, 198, 198);
    text-align:center;
    cursor:pointer;
    border-radius:5px;
    display:inline-block;
    margin-right:5px;
}
#result{
    width:400px;
    height:200px;
    background-color:rgb(219, 219, 219);
    border:solid black 2px;
    margin:auto;
    position:relative;
    bottom:-125px;
    z-index:1;
    transform:rotate(90deg);
}
#cancel{
    width:20px;
    height:20px;
    background-color:rgb(205, 19, 19);
    cursor:pointer;
    text-align:center;
    color:white;
}
#output{
    font-size:40px;
    position:absolute;
    top:60px;
    left:95px;
}
#resume{
    padding:8px;
    font-size:large;
    background-color:rgb(154, 154, 154);
    text-align:center;
    position:absolute;
    top:65px;
    left:235px;
    cursor:pointer;
    border-radius:7px;
}
#replay{
    padding:8px;
    font-size:large;
    background-color:rgb(154, 154, 154);
    text-align:center;
    position:absolute;
    top:130px;
    left:120px;
    cursor:pointer;
    border-radius:5px;
}
#home{
    padding:7px;
    font-size:larger;
    background-color:rgb(154, 154, 154);
    text-align:center;
    position:absolute;
    top:130px;
    left:210px;
    cursor:pointer;
    border-radius:5px;
    text-decoration:none;
    color:black;
}
.blue{
    background-color:blue;
}
.red{
    background-color:red;
}
.orange{
    background-color:orange;
}
.yellow{
    background-color:yellow;
}
.white{
    background-color:white;
}
.green{
    background-color:green;
}
#box1{
    width:245px;
    height:245px;
    background-color:black;
    position:absolute;
    top:10px;
    left:39%;
    transform:rotate(180deg);
}
#box2{
    width:245px;
    height:245px;
    background-color:black;
    position:absolute;
    bottom:10px;
    right:39%;

}
.row1{
    top:5px;
}
.row2{
    top:52px;
}
.row3{
    top:99px;
}
.row4{
    top:146px;
}
.row5{
    top:193px;
}
.col1{
    left:5px;
}
.col2{
    left:52px;
}
.col3{
    left:99px;
}
.col4{
    left:146px;
}
.col5{
    left:193px;
}
#reference{
    background-color:black;
    width:126px;
    display:grid;
    grid-template-columns:repeat(3,42px);
    grid-template-areas:
    "r1c1 r1c2 r1c3"
    "r2c1 r2c2 r2c3"
    "r3c1 r3c2 r3c3";
    padding:3px;
    position:relative;
    top:288px;
    margin:auto;
}
#r1c1{
    grid-area:r1c1;
}
#r1c2{
    grid-area:r1c2;
}
#r1c3{
    grid-area:r1c3;
}
#r2c1{
    grid-area:r2c1;
}
#r2c2{
    grid-area:r2c2;
}
#r2c3{
    grid-area:r2c3;
}
#r3c1{
    grid-area:r3c1;
}
#r3c2{
    grid-area:r3c2;
}
#r3c3{
    grid-area:r3c3;
}
@media(min-width: 1030px){
    #box1{
        position:absolute;
        top:100px;
        width:395px;
        height:395px;
        left:5%;
        transform:rotate(0deg);
    }
    #box2{
        position:absolute;
        top:100px;
        width:395px;
        height:395px;
        right:5%;
        bottom:0px;
    }
    #reference{
        position:relative;
        top:160px;
        margin:auto;
        left:0px;
    }
    #leftright{
        padding-left:220px;
        width:210px;
        margin:auto;
        margin-bottom:10px;
        transform:rotate(0deg);
        position:relative;
    }
    #count{
        position:relative;
        font-size:28px;
        width:fit-content;
        margin:auto;
        transform:rotate(0deg);
        display:block;
        right:0px;
    }
    #button{
        width:50px;
        height:50px;
        position:absolute;
    }
    #arrows1{
        top:530px;
        left:10%;
        transform:rotate(0deg);
    }
    #arrows2{
        top:530px;
        right:21%;
    }
    #submit1{
        width:100px;
        top:120px;
        left:30px;
    }
    #submit2{
        width:100px;
        top:120px;
        left:30px;
    }
    #up1{
        left:55px;
    }
    #down1{
        left:55px;
        top:55px
    }
    #left1{
        top:55px;
    }
    #right1{
        top:55px;
        left:110px
    }
    #up2{
        left:55px;
    }
    #down2{
        left:55px;
        top:55px
    }
    #left2{
        top:55px;
    }
    #right2{
        top:55px;
        left:110px
    }
    #result{
        margin:auto;
        position:relative;
        bottom:30px;
        transform:rotate(0deg);
    }
    .block{
        width:75px;
        height:75px;
    }
    .row1{
        top:5px;
    }
    .row2{
        top:82px;
    }
    .row3{
        top:159px;
    }
    .row4{
        top:236px;
    }
    .row5{
        top:313px;
    }
    .col1{
        left:5px;
    }
    .col2{
        left:82px;
    }
    .col3{
        left:159px;
    }
    .col4{
        left:236px;
    }
    .col5{
        left:313px;
    }
}